.dash-error-overlay-container {
    position: relative;
    display: inline-block;
}
.dash-error-overlay {
    position: relative;
    padding: 1rem 2rem;
    background-color: #FF0000;
    color: white;
    display: inline-block;
}
