@import url('https://fonts.googleapis.com/css?family=Roboto');

.dash-error-card {
    box-sizing: border-box;
    background: #FFFFFF;
    /* shadow-1 */
    box-shadow: 0px 6px 16px rgba(80, 103, 132, 0.165), 0px 2px 6px rgba(80, 103, 132, 0.12), 0px 0px 1px rgba(80, 103, 132, 0.32);
    border-radius: 4px;
    position: fixed;
    top: 16px;
    right: 16px;
    min-width: 412px;
    min-height: 300px;
    animation: dash-error-card-animation 0.5s;
    padding: 24px;
    text-align: left;
    background-color: white;
    font-family: Roboto;
}
.dash-error-card--alerts-tray {
    position: absolute;
    top: -300px;
    left: -1px;
    animation: none;
}
.dash-error-card--container {
    padding: 0rem;
}

.dash-error-card__topbar {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.dash-error-card__message {
    font-weight: bold;
    font-size: 1rem;
}

.dash-error-card__content {
    box-sizing: border-box;
    padding: 1rem;
}

@keyframes dash-error-card-animation {
    from {
        opacity: 0;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
