.dash-debug-alert-container {
    box-sizing: border-box;
    background: #f3f6fa;
    border-radius: 2px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 0.1s, border 0.1s;
}
.dash-debug-alert-container:hover {
    cursor: pointer;
}
.dash-debug-alert-container--opened {
    background-color: #119dff;
    color: white;
}
.dash-debug-alert-container__icon {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}
.dash-debug-alert-container__icon--warning {
    height: auto;
}

.dash-debug-alert {
    display: flex;
    align-items: center;
    font-size: 10px;
}
